POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=change-this-password

DB_HOST=db_1
DB_PORT=5432

SECRET_KEY=change-this-secret-key
DEBUG=False
ALLOWED_HOSTS=kittygram.servebeer.com,localhost,127.0.0.1
